<!DOCTYPE html>
<html style="height:100%;">
<head>
	<title>海运整柜运价 - <#if pgseo??>${pgseo.title!'华逸风行'}<#else>华逸风行</#if></title>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<meta name="author" content=""/>
	<meta name="copyright" content=""/>
	<meta name="robots" content="all"/>
	<meta name="visit-after" content="7 days"/>
	<link href="${rc.contextPath}/ress/images/favicon.ico?v=202103.1" rel="shortcut icon" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="<@spring.ctx/>/ress/extjs/ress/css/ext-all.css?v=202102.1"/>
	<link rel="stylesheet" href="<@spring.ctx/>/ress/css/default/style.css?v=202104.2"/>
	<style type="text/css">
		
	</style>
	<#include "/xtpl/extlibs.ftl">
	
	<script type="text/javascript" charset="utf-8">
	
	</script>
	<!-- script type="text/javascript" src="<@spring.ctx/>/ress/views/jobshp/blchk-list.js?v=202104.1"></script -->
</head>
<body>
	<h1 class="notice-dev">开发中，暂未开放使用。</h1>
</body>
</html>
