<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>华逸风行</title>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="robots" content="all"/>
	<meta name="visit-after" content="7 days"/>
</head>
<body>
	<div class="headerwrap">
		<#if pgseo??>
		<div class="logo">${pgseo.name!'欢迎使用华逸风行'}</div>
		<#else>
		<div class="logo">欢迎使用华逸风行</div>
		</#if>
		<div class="usrinf">
			<ul>
				<li>
					<div id="langbox"></div>
				</li>
				<#if CURRENT_USER??>
				<li><@spring.message "ls3627"/><span class="nav-login" style="padding: 2px 12px;">&nbsp;</span>${CURRENT_USER.username}</li>
				<li>
					<a href="javascript:void(0)" class="logout" onclick="appView.logout()"><@spring.message "ls1314"/></a>&nbsp;|&nbsp;
					<a href="javascript:void(0)" onclick="HY.showLoginWindow()"><@spring.message "ls1311"/></a>&nbsp;|&nbsp;
					<a href="javascript:void(0)" onclick="appView.showModPsw()"><@spring.message "ls1313"/></a>
				</li>
				<#else>
				<li><@spring.message "ls9445"/>&nbsp;<a href="javascript:void(0)" onclick="HY.showLoginWindow()"><@spring.message "ls9450"/></a></li>
				<li><a href="javascript:void(0)" onclick="appView.showQuicklyWin()"><@spring.message "ls9447"/></a></li>
				</#if>
			</ul>
		</div>
	</div>
</body>
</html>
