<!DOCTYPE html>
<html style="height:100%;">
<head>
	<title>发票页面 - <#if pgseo??>${pgseo.title!'华逸风行'}<#else>华逸风行</#if></title>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<meta name="author" content=""/>
	<meta name="copyright" content=""/>
	<meta name="robots" content="all"/>
	<meta name="visit-after" content="7 days"/>
	<link href="${rc.contextPath}/ress/images/favicon.ico?v=202103.1" rel="shortcut icon" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="<@spring.ctx/>/ress/extjs/ress/css/ext-all.css?v=202102.1"/>
	<link rel="stylesheet" href="<@spring.ctx/>/ress/css/default/style.css?v=202106.3"/>
	<style type="text/css">
	     .errmsg{
            color: red;
        }
        .navbar-header {
        	background: #ccc;
        }
        .row {
        	line-height: 36px;
        }
        .row h3 {
        	font-size: 16px;
        }
        .row .label {
        	font-size: 14px;
        	color: #808080;
        	width: 100px;
        }
	</style>
	<#include "/xtpl/extlibs.ftl">
	<script type="text/javascript" charset="utf-8">
	 
	</script>
	
</head>
<body>
   <div class="container">
	   <div class="row">&nbsp;</div>
		<#if mpk?? && mpk.success>
		  <div class="row"><span class="text">${mpk.msg!''}</span></div>
	    <#else>
		<div class="row">
			<h3 class="errmsg"><#if mpk??>${mpk.msg}<#else>服务器错误！</#if></h3>
		</div>
		</#if>
   </div>

</body>
</html>